<settingRequirements>
 <settings>
  <setting details="" label="Enable mySpeedDial" user_device="device" id="EnableWebappmySpeedDial" display="false" accessRights="RW_RW" description="Will enable or disable the webapp mySpeedDial" range="All" rights="RW_RW" value="true" mainCategory="Application" DM="true" mandatory="false" requiresReboot="SOFT" release="R200" displayRights="0_0" category="mySpeedDial" enabler="" type="ENABLER"/>
  <setting details="" label="Url" user_device="device" id="mySpeedDialUrl" display="true" accessRights="RW_RW" description="" range="All" rights="RW_RW" value="http://" mainCategory="Application" DM="false" mandatory="true" requiresReboot="NONE" release="R200" displayRights="RW_RW" category="mySpeedDial" enabler="EnableWebappmySpeedDial" type="TEXT"/>
  <setting details="" label="File" user_device="device" id="mySpeedDialUser" display="true" accessRights="RW_RW" description="" range="All" rights="RW_RW" value="" mainCategory="Application" DM="false" mandatory="true" requiresReboot="NONE" release="R200" displayRights="RW_RW" category="mySpeedDial" enabler="EnableWebappmySpeedDial" type="TEXT"/>
  <setting details="" label="Refresh" user_device="device" id="mySpeedDialRefreshTimer" display="true" accessRights="RW_RW" description="" range="All" rights="RW_RW" value="120" mainCategory="Application" DM="false" mandatory="true" requiresReboot="NONE" release="R200" displayRights="RW_RW" category="mySpeedDial" enabler="EnableWebappmySpeedDial" type="NUMERIC"/>
  <setting details="" label="In Preview" user_device="device" id="mySpeedDialEnablePreview" display="false" accessRights="RW_RW" description="" range="All" rights="RW_RW" value="false" mainCategory="Application" DM="false" mandatory="true" requiresReboot="NONE" release="R200" displayRights="0_0" category="mySpeedDial" enabler="EnableWebappmySpeedDial" type="BOOLEAN"/>
  <setting details="" label="List (don't edit)" user_device="device" id="mySpeedDiaList" display="false" accessRights="RW_RW" description="" range="All" rights="RW_RW" value="[]" mainCategory="Application" DM="false" mandatory="true" requiresReboot="NONE" release="R200" displayRights="0_0" category="mySpeedDial" enabler="EnableWebappmySpeedDial" type="CUSTOM"/>
  <setting details="" label="Application Name" user_device="device" id="mySpeedDialAppname" display="false" accessRights="RW_RW" description="" range="All" rights="RW_RW" value="mySpeeddial" mainCategory="Application" DM="false" mandatory="false" requiresReboot="NONE" release="R100" displayRights="0_0" category="mySpeedDial" enabler="EnableWebappmySpeedDial" type="BOOLEAN"/>
 </settings>
</settingRequirements>
